.to-do-list{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 140px;
    max-width: 500px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 60px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
h1{
  font-size: 4rem;
  color: black;
}
.button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 7px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
.add-button{
  background-color: hsl(125, 47%, 54%);
  padding: 6px;
  margin: 3px;
}
.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}
.delete-button{
  background-color: hsl(10, 90%, 50%);                                                                               
}
.delete-button:hover{
  background-color: hsl(10, 90%, 40%);                                                                                                                         
}
.edit-button{
  background-color: hsl(207, 90%, 64%);
}
.edit-button:hover{
  background-color: hsl(207, 90%, 64%);
}
input[type="text"]{
  font-size: 15px;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsl(0, 0%, 0%, 0.5);
}
ol{
  padding: 0;
}
li{
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  column-gap: 3px;
  cursor: pointer;
}                                                                                                  
.text{
  flex: 1;
}
.delete-button, .edit-button{
  padding: 5px 10px;

}


.del{
  padding: 10px;
  margin: 10px;
}
.restore-button {
  background-color: hsl(200, 70%, 50%);
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
}

.restore-button:hover {
  background-color: hsl(200, 70%, 40%);
}


.deleted-section {
  margin-top: 20px;
  text-align: center;
}

.deleted-item {
  color: gray;
  font-family: Arial, sans-serif;
  
}
